.chatrooms {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  min-height: 100px;
  height: 700px;
  color: white;
  background-color: #bbb;
}

.title {
  color: black;
}
/*
.main {
  position: absolute;
  right: 0px;
  width: 1000px;
  border: 2px dashed red;
  color: black;
}
*/
