.chatrooms {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  min-height: 100px;
  height: 700px;
  color: white;
  background-color: #bbb;
}

.title {
  color: black;
}

.window .modal-dialog {
  margin: auto;
  margin-top: 200px;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  color: black;
}

.testing-testing {
  border: 2px dashed blue;
}
