<main>
  <div class="chatrooms">
    <h1 class="title">Bloc Chat</h1>
    <button ng-click="home.open()">New Room</button>
    <table class="roomlist">
      <tr class="room-row" ng-repeat="room in home.rooms">
        <td class="individual-room" ng-click="home.switch($index); home.getByRoomId($index)">
          <span>{{home.rooms[$index].name}}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="message-list">
    <span>{{active}}</span>
    <table>
      <tr class="message-row" ng-repeat="message in home.messages">
        <td class="message">
          <span class="username">{{home.messages[$index].username}}</span><span class="content">{{home.messages[$index].content}}</span><span class="timestamp">{{home.messages[$index].sentAt}}</span>
        </td>
      </tr>
    </table>
    <form class="new-message">
      <input class="new-text" id="message-text" type="text" placeholder="Type your message here"></input>
      <button class="send-message" ng-click="home.send()">Send</button>
    </form>
  </div>
</main>
